.banner-desc {
  width: 600px;
  top: 30%;
  right: 0px;
}
.banner-title {
  color: white;
  text-shadow: 0 0 10px black;
  font-size: 4.5rem;
  font-weight: 900;
}
.banner-text {
  text-shadow: 0 0 10px black;
  font-weight: 800;
}
@media only screen and (max-width: 576px) {
  .banner-desc {
    width: 100%;
    right: auto;
    text-align: center;
  }
  .banner-title {
    color: white;
    text-shadow: 0 0 10px black;
    font-size: 2rem;
    font-weight: 900;
  }
}
