.inventory-detail {
  width: 300px;
  height: 400px;
  background-color: black;
  color: white;
}
.inventory-detail img {
  width: 300px;
}
.inventory-detail p {
  margin-top: 2px;
  margin-bottom: 2px;
}
